<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--
    <add key="EndPoint" value="https://dptng.njcourts.gov:2045/civilFilingWS_t" />
    <add key="FirmId" value="F00000147" />
    <add key="UserName" value="888888029" />
    <add key="Password" value="P@ssword" />-->
    
    <!--production server settings-->
    <add key="EndPoint" value="https://dpprod.njcourts.gov:2045/civilFilingWS_p" />
    <add key="FirmId" value="F00016713" />
    <add key="UserName" value="888888029" />
    <add key="Password" value="P@ssword" />
    
  </appSettings>
</configuration>